html, body {
  font-family: 'Quicksand', sans-serif !important;
  background: #fbfaf9;
}

/*
.far, .fas, .fab {
}
*/

.popup_section .far, .popup_section .fas, .popup_section .fab {
  font-size: 1.6em;
  padding: 0.4em; 
}

.popup_section a:hover {
  color: #ee6e73d4;
}

.title {
  font-size: 1.5em;
}

.description {
  font-size: 0.9em;
}

#top {
  width: 280px !important;
}

.navbar {
  background: transparent !important;
}

.leaflet-top {
  top: 0em !important;
  left: 0.5em !important;
}

.leaflet-top .leaflet-control {
  margin-left: 93vw !important;
}

.leaflet-right {
  right: 10vw !important;
}

.leaflet-popup-pane {
  z-index: 10000 !important;
}

.pull-xs-left {
  margin-left: 1em !important;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  min-width: max-content;
}

div.popup_section, div.popup_coords {
  border-top: none !important;
}

div.popup_section {
  display: inline;
}

.thumb img {
  border-radius: 0.4em;
}
